#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background: #361f36;
}

.menu__item {
  position: relative;
  flex-grow: 1;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.6;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.menu__item:hover {
  opacity: 1;
  border-bottom-color: hsl(60, 50%, 50%);
}

.menu__item-active,
.menu__item-active:hover {
  opacity: 1;
  border-bottom-color: hsl(120, 50%, 50%);
}
